html {height: 100%;
    width: 100%;}

body {height: 100%;
    background-color:#92a8d1;
    display: flex;
    flex-direction: column;}

footer {bottom:0;
    margin: 0;
    margin-top: 8px;
    width: 100%;
    padding: 3px;
    background-color: #034f84;
    color: black;
    border: 2px solid black;
    flex-shrink: 0;}

div, form {background-color: #f7cac9;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid black;
    block-size: fit-content;}

div.invisible {background-color:#92a8d1;
    border: none;
    flex: 1 0 auto}

div.menu { background-color: #034f84;
    color: black;}

div.menu a:hover {background-color: #deeaee;
        color: black;
      }

div.menu a {
        float: left;
        color:darkcyan;
        text-align: center;
        padding: 5px 30px 5px 10px;
        font-size: 22px;
      }

span.loggers {float: right;}

span.loggedIN {float: right;}

.image_div {float: left;
width: fit-content;}

.info_div {float: right;
width: fit-content;
font-style: italic;}

div.pokemon {background-color: #034f84;}