{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Base {% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{% static 'web/main.css' %}">

    </head>
    <body>
        <div class="menu"> 
            <span> <a href="../"> Home </a> </span>
            <span> <a href="/shop"> Shop </a> </span>
           
            {% if user.is_authenticated %}
            <span> <a href="/sell"> Sell </a> </span>
           
            <span class="loggedIN">
                <span> <a href="/logout"> Logout </a> </span>
                <span> <a href="/profile"> Profile </a></span>
            </span>
            {% else %}
            <span class="loggers">
                <span> <a href="/login"> Login </a> </span>
                <span> <a href="/register"> Register </a></span>
            </span>
            {% endif %}
        </div>
        {% block content %}
        Random content
        {% endblock %}
        <div class="invisible">
        </div>
        <footer>
            @2021 Dawson College
            <br>All rights reserved. This is not a ripoff of anything...
            <br>Made By: Shiv Patel & Eris Zoghlami
        </footer>
    </body>
</html>