{% extends "web/base.html" %}

{% block title %} Pozozo {% endblock %}

{% block content %}
    <h2>Welcome to Pozozo! </h2>
    <h3> The world's most basic online shopping center </h3>
    <div>
        <h3>What can you do here?</h3>
        <p>
            Pozozo offers a wide variety of services from allowing visitors to view any items being sold on the market
            <br> to creating their own accounts in order to participate in this global commerce. 
        </p>
    </div>
    <div>
        <h3> About the creators: </h3>
        <p> This is website was created by two 19 year old dawson compsci students named: Shiv Patel & Edris Zoghlami
            <br> The reason for this website's creation is because we have to do it in order to pass
        </p>
    </div>  
{% endblock content %}