{% extends "web/base.html" %}

{% block title %} Pozozo's LogIn {% endblock %}

{% block content %}
    <h2> Sign In</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit"> Login </button>
    </form>
    <div>
        <p>
            Don't have an account? <a href="/register"> Sign up Here! </a>
        </p>
    </div>
{% endblock content %}