{% extends "web/base.html" %}

{% block title %} Pozozo's Logout {% endblock %}

{% block content %}
    <h2>You have been logged out</h2>
    <div>
        <p>
            Want to Log back in? <a href="/login"> Go Ahead! </a>
        </p>
    </div>
{% endblock content %}