{% extends "web/base.html" %}

{% block title %} Pozozo's Account {% endblock %}

{% block content %}
    <h2>Welcome to your page {{ user.username }}</h2>

    <div>
        <div>
          <img src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2>{{ user.username }}</h2>
           </div>
        </div>
      </div>
      
     
     <h3> Purshase History <h3>
     
     {% for item in boughtItems %}
     
      <div>
     <br>Item name: {{ item.item_name }}
     <br>Description: {{ item.item_description}}
     <br>Price: {{ item.item_price }} $
     <br>  
     </div>
     {% endfor %}
     
{% endblock content %}