{% extends "web/base.html" %}

{% block title %} Pozozo's Registration {% endblock %}

{% block content %}
    <h2>Register for an Account!</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit"> Sign Up </button>
    </form>
    <div>
        <p>
            Already have an account? <a href="/login"> Login Here! </a>
        </p>
    </div>
{% endblock content %}