{% extends "web/base.html" %}

{% load static %}

{% block title %} Pozozo's Seller {% endblock %}

{% block content %}
    <h2> Sell whatever Item you have! </h2>

    <form action="sell" method="POST">
        
    {% csrf_token %}
        
        <input type="text" id="item_owner" name="item_owner" value="{{ user.username }}" readonly><br><br>           
            
        <label for="ItemName">Item Name:</label>
        <input type="text" id="item_name" name="item_name"><br><br>
       
        <label for="Description">Description:</label>
        <input type="text" id="item_description" name="item_description"><br><br>
        
        <label for="Price">Price:</label>
        <input type="text" id="item_price" name="item_price"><br><br>
        <input type="submit" value="Sell Item">
    </form>
{% endblock content %}


