{% extends "web/base.html" %}

{% load static %}

{% block title %} Pozozo's Shop {% endblock %}

{% block content %}
    <h2> Buy all types of goodies, from whistles to computers! </h2>
    <main>
        <div>
        <p>
            Owner: Default Owner
            <br>Item: Default Item
        </p>
        <img src="{% static 'web/images/wallpaper.png' %}" alt="it's not supposed to work" width="800" height="500">
        <p>Description: This is a default item which shows you the type of layout an item you can buy has
            <br> Price: 29,76$
        </p>
        <button> Buy Item </button>
        </div>  
        
{% for item in sellItem %}
        <div>
        <form method="POST" action="buy"> {% csrf_token %}
        <p>
            Owner: {{ item.item_owner }} 
            <br>Item name: {{ item.item_name }}
            <br> <label for="item_id">Item ID:</label>  <input type="text" id="item_id" name="item_id" value="{{ item.id }}" readonly>
        </p>
        <img src="{% static 'web/images/wallpaper.png' %}" alt="it's not supposed to work" width="800" height="500">
        <p>Description: {{ item.item_description}}
            <br> Price: {{ item.item_price }} $
        </p>
        <input type="submit" value="Buy Item" id= {{item.id}}></button>
        </form> 
        </div> 
         {% endfor %}
        
        
        
        
        
        
    </main>
{% endblock content %}